<!-- 1. Khai báo SessionFactory -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="configLocation" value="classpath:com/example/resources/hibernate.cfg.xml"/>
</bean>

<!-- 2. Khai báo DAO -->
<bean id="userDAO" class="com.example.dao.UserDAOImpl">
    <property name="sessionFactory" ref="sessionFactory"/>
</bean>

<!-- 3. Khai báo Service -->
<bean id="userService" class="com.example.service.UserServiceImpl">
    <property name="userDAO" ref="userDAO"/>
</bean>
