<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx
           https://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/aop
           https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 1. Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:com/example/resources/hibernate.cfg.xml"/>
    </bean>

    <!-- 2. DAO -->
    <bean id="userDAO" class="com.example.dao.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- 3. Service -->
    <bean id="userService" class="com.example.service.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <!-- 4. Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

   <!-- 1. Cấu hình TransactionInterceptor -->
<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager" ref="transactionManager" />
    <property name="transactionAttributes">
        <props>
            <!-- Tất cả phương thức bắt đầu với 'save', 'update', 'delete' sẽ sử dụng PROPAGATION_REQUIRED -->
            <prop key="save*">PROPAGATION_REQUIRED</prop>
            <prop key="update*">PROPAGATION_REQUIRED</prop>
            <prop key="delete*">PROPAGATION_REQUIRED</prop>
            
            <!-- Các phương thức bắt đầu với 'get', 'find', 'list' chỉ hỗ trợ giao dịch (readOnly) -->
            <prop key="get*">PROPAGATION_SUPPORTS,readOnly</prop>
            <prop key="find*">PROPAGATION_SUPPORTS,readOnly</prop>
            <prop key="list*">PROPAGATION_SUPPORTS,readOnly</prop>
            
            <!-- Mặc định, các phương thức khác hỗ trợ giao dịch nếu có -->
            <prop key="*">PROPAGATION_SUPPORTS</prop>
        </props>
    </property>
</bean>

<!-- 2. Áp dụng TransactionInterceptor cho tất cả Service -->
<bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target">
        <bean class="com.example.service.UserServiceImpl">
            <property name="userDAO" ref="userDAO" />
        </bean>
    </property>
    <property name="interceptorNames">
        <list>
            <value>transactionInterceptor</value>
        </list>
    </property>
</bean>

<bean id="customerService" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target">
        <bean class="com.example.service.CustomerServiceImpl">
            <property name="customerDAO" ref="customerDAO" />
        </bean>
    </property>
    <property name="interceptorNames">
        <list>
            <value>transactionInterceptor</value>
        </list>
    </property>
</bean>

       <!-- Kích hoạt AOP -->
<aop:config>
    <!-- Áp dụng giao dịch cho tất cả các lớp trong package com.example.service -->
    <aop:pointcut id="serviceMethods" expression="execution(* service.*.*(..))" />
    <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
</aop:config>

<!-- Advice cho giao dịch -->
<tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
        <!-- Các phương thức cập nhật (CRUD) -->
        <tx:method name="save*" propagation="REQUIRED"/>
        <tx:method name="update*" propagation="REQUIRED"/>
        <tx:method name="delete*" propagation="REQUIRED"/>
        
        <!-- Các phương thức chỉ đọc -->
        <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
        <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
        <tx:method name="list*" propagation="SUPPORTS" read-only="true"/>
        
        <!-- Mặc định cho tất cả phương thức khác -->
        <tx:method name="*" propagation="SUPPORTS"/>
    </tx:attributes>
</tx:advice>

       
</beans>
